.page {
  padding: 10;
}
.h1 {
  font-size: 20;
  text-decoration: underline;
  margin-bottom: 15;
}
.body {
  font-size: 14;
  margin-bottom: 15;
}

.input-border {
  border-width: 1;
  border-color: #F5F5F5;
  border-radius: 5;
  padding: 5;
  font-size: 14;
}

.btn {
  margin: 15 0;
  background-color: #a16c44;
  border-radius: 5;
  color: white;
}

.result {
  margin-bottom: 5;
}