<h1>
  {{ this.pageTitle }}
  <button (click)="share()">Share</button>
</h1>

<div [style.opacity]="sharing ? 0.2 : 1">
  <div class="top-container">
    <div class="progressbar">
      <div class="progressbar-contents" [style.width]="percentOwned + '%'"
        [style.backgroundColor]="progressbarColor"></div>
    </div>
    <span *ngIf="mons.length > 0">{{ ownedCount + ' / ' + mons.length }}</span>
  </div>

  <ul>
    <li (click)="toggleShinyOwned(mon)" class="card" *ngFor="let mon of mons" [class.selected]="mon.owned">
      <span>{{ mon.name }}</span>
      <img class="checkbox" [src]="mon.owned ? 'app/images/checked.png' : 'app/images/unchecked.png'">
      <img class="sprite" src="app/images/sprites/{{ mon.id }}.png">
    </li>
  </ul>
</div>

<div class="dialog" [style.display]="sharing ? 'block' : 'none'">
  <p>What shiny data would you like to share?</p>

  <div>
    <label>
      <input type="checkbox" [(ngModel)]="shareStatus">
      <span>My completion rate—i.e. {{ ownedCount + ' / ' + mons.length }}</span>
    </label>
  </div>

  <div>
    <label>
      <input type="checkbox" [(ngModel)]="shareOwned">
      <span>A list of shinies I have</span>
    </label>
  </div>

  <div>
    <label>
      <input type="checkbox" [(ngModel)]="shareUnowned">
      <span>A list of shinies I do NOT have</span>
    </label>
  </div>

  <button class="primary" (click)="confirmShare()" [attr.data-clipboard-text]="shareMessage">Share</button>
  <button (click)="cancelShare()">Cancel</button>
</div>

<img *ngIf="!loaded" class="loading" src="app/images/loading.gif">