<div [style.opacity]="dialogOpen ? 0.2 : 1">
  <div class="fixed-container">
    <h1>
      <button [routerLink]="['/']">Home</button>
      <span class="title">{{ getPageTitle() }}</span>
      <span class="filler"></span>
    </h1>

    <div class="progressbar-container">
      <div class="progressbar">
        <div class="progressbar-contents" [style.width]="percentOwned + '%'"
          [style.backgroundColor]="progressbarColor"></div>
      </div>
      <span *ngIf="mons.length > 0">{{ ownedCount + ' / ' + mons.length }}</span>
    </div>
  </div>

  <ul>
    <li (click)="toggleShinyOwned(mon)" class="card" *ngFor="let mon of mons" [class.selected]="mon.owned">
      <span>{{ mon.name }}</span>
      <img class="checkbox unchecked" src="app/images/unchecked.png">
      <img class="checkbox checked" src="app/images/checked.png">
      <img class="sprite" [src]="getImagePath(mon)">
    </li>
  </ul>
</div>

<img *ngIf="!loaded" class="loading" src="app/images/loading.gif">

<!--<div class="dialog" [style.display]="sharing ? 'block' : 'none'">
  <p>What shiny data would you like to share?</p>

  <div>
    <label>
      <input type="checkbox" [(ngModel)]="shareStatus">
      <span>My completion rate—i.e. {{ ownedCount + ' / ' + mons.length }}</span>
    </label>
  </div>

  <div>
    <label>
      <input type="checkbox" [(ngModel)]="shareOwned">
      <span>A list of shinies I have</span>
    </label>
  </div>

  <div>
    <label>
      <input type="checkbox" [(ngModel)]="shareUnowned">
      <span>A list of shinies I do NOT have</span>
    </label>
  </div>

  <button class="primary" (click)="confirmShare()" [attr.data-clipboard-text]="shareMessage">Share</button>
  <button (click)="cancelShare()">Cancel</button>
</div>
-->