.top-container {
  display: flex;
  margin: 0.5em 0.5em 0.25em 0.5em;
}
.progressbar {
  border: 1px solid gray;
  border-radius: 5px;
  width: 100%;
}
.progressbar-contents {
  height: 20px;
}
.top-container > span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 4em;
  text-align: center;
  font-size: 0.8em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0.25em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.card {
  flex: 1 0 25%;
  margin: 0.25em;
  border: 1px solid #DCE7DC;
  border-radius: 10px;
  cursor: pointer;
  height: 7em;
  position: relative;
  font-size: 0.8em;
}
.selected {
  background-color: #F5F5F5;
}
.card span {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}
.checkbox {
  position: absolute;
  top: 0.5em;
  right: 0.25em;
  width: 1.75em;
}
.sprite {
  position: absolute;
  top: 1.25em;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  width: 6em;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
}