.progress-section {
  margin: 10 5;
}
.progress-bar {
  border-color: gray;
  border-width: 1;
  border-radius: 5;
  height: 20;
}
.progress-section Label {
  margin-left: 5;
  font-size: 14;
  text-align: center;
}

.card {
  border-color: #DCE7DC;
  border-width: 1;
  border-radius: 10;
  margin: 5;
}
.selected {
  background-color: #F5F5F5;
}
.card Label {
  font-size: 12;
  text-align: left;
  margin-left: 7;
  margin-top: 7;
}
.android .card Label {
  font-size: 14;
}
.check {
  font-size: 30;
  text-align: right;
  height: 20;
  margin-top: 7;
}
.sprite {
  height: 100;
}
.ios .sprite {
  height: 80;
  margin-bottom: 200;
}
