<div [style.opacity]="dialogOpen ? 0.2 : 1">
  <div class="fixed-container">
    <h1>
      <button class="home" [routerLink]="['/']">Home</button>
      <span class="title">{{ getPageTitle() }}</span>
      <button class="settings" (click)="toggleDialog()"></button>
    </h1>

    <div class="progressbar-container">
      <div class="progressbar">
        <div class="progressbar-contents" [style.width]="percentOwned + '%'"
          [style.backgroundColor]="progressbarColor"></div>
      </div>
      <span *ngIf="mons.length > 0">{{ ownedCount + ' / ' + mons.length }}</span>
    </div>
  </div>

  <ul>
    <li (click)="toggleShinyOwned(mon)" class="card" *ngFor="let mon of mons" [class.selected]="mon.owned">
      <span>{{ mon.name }}</span>
      <img class="checkbox unchecked" src="app/images/unchecked.png">
      <img class="checkbox checked" src="app/images/checked.png">
      <img class="sprite" [src]="getImagePath(mon)">
    </li>
  </ul>
</div>

<img *ngIf="!loaded" class="loading" src="app/images/loading.gif">

<div class="dialog" [style.display]="dialogOpen ? 'block' : 'none'">
  <h2>Settings</h2>

  <div>
    <label for="sortOrder">Sort Order:</label>
    <select id="sortOrder" [(ngModel)]="sortOrder" (change)="sort()">
      <option *ngIf="this.pageMode != 'unown'" value="1">Pokédex Number</option>
      <option value="2">Name</option>
      <option value="3">Checked</option>
    </select>
  </div>

  <!--<button class="primary">Save</button>-->
  <button (click)="toggleDialog()">Close</button>
</div>
