ul {
  list-style-type: none;
  padding: 0.5em;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.card {
  margin: 0.5em;
  border: 1px solid #DCE7DC;
  border-radius: 10px;
  cursor: pointer;
  width: 9em;
  height: 9em;
  position: relative;
  font-size: 0.9em;
}
.selected {
  background-color: #F5F5F5;
}
.card span {
  position: absolute;
  top: 10px;
  left: 10px;
}
.card input {
  position: absolute;
  top: 10px;
  right: 10px;
}
.card img {
  position: absolute;
  top: 30px;
  left: 16px;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
}