<ActionBar flat="true" title="ShinyDex" class="action-bar">
  <NavigationButton ios:visibility="collapsed" (tap)="toggleMenu()" icon="res://menu"></NavigationButton>
  <ActionItem android:visibility="collapsed" (tap)="toggleMenu()" icon="res://menu" ios.position="left"></ActionItem>
  <ActionItem (tap)="share()" ios.systemIcon="9" ios.position="right" android.systemIcon="ic_menu_share" android.position="actionBar"></ActionItem>
</ActionBar>

<GridLayout class="page" [class.android]="isAndroid" [class.ios]="!isAndroid">
  <GridLayout rows="auto, *" [opacity]="sharing ? 0.2 : 1">

    <GridLayout *ngIf="loaded" columns="5*, *" class="progress-section">
      <GridLayout col="0" columns="auto, *" class="progress-bar">
        <StackLayout col="0" [style.width]="percentOwned + '%'" [backgroundColor]="progressbarColor"></StackLayout>
        <StackLayout col="1"></StackLayout>
      </GridLayout>
      <Label col="1" [text]="ownedCount + ' / ' + shinies.length"></Label>
    </GridLayout>

    <RadListView *ngIf="loaded" row="1" [items]="shinies" class="list-group">
      <ng-template tkListItemTemplate let-item="item" let-i="index">
        <GridLayout columns="*, auto" rows="auto, auto" class="card" (tap)="toggleShinyOwned(item)">

          <!-- lol hack -->
          <GridLayout colSpan="2" rowSpan="2" backgroundColor="#F5F5F5" [opacity]="item.owned ? 1 : 0"></GridLayout>

          <Label col="0" row="0" [text]="item.name"></Label>
          <Image col="1" row="0" class="check" [src]="item.owned ? 'res://checked' : 'res://unchecked'"></Image>
          <Image colSpan="2" row="1" class="sprite" [src]="item.getImage()"></Image>
        </GridLayout>
      </ng-template>

      <ListViewGridLayout tkListViewLayout scrollDirection="Vertical"
        ios:itemHeight="120" spanCount="3"></ListViewGridLayout>
    </RadListView>

    <ActivityIndicator rowSpan="2" [busy]="!loaded"></ActivityIndicator>
  </GridLayout>

  <AbsoluteLayout [style.visibility]="sharing ? 'visible' : 'collapsed'">
    <StackLayout class="dialog">
      <Label text="What shiny data would you like to share?"></Label>

      <StackLayout orientation="horizontal" class="m-t-20 m-b-10">
        <Switch [(ngModel)]="shareStatus" class="m-r-10"></Switch>
        <Label text="My ShinyDex status"></Label>
      </StackLayout>

      <StackLayout orientation="horizontal" class="m-b-10">
        <Switch [(ngModel)]="shareOwned" class="m-r-10"></Switch>
        <Label text="A list of shinies I have"></Label>
      </StackLayout>

      <StackLayout orientation="horizontal" class="m-b-20">
        <Switch [(ngModel)]="shareUnowned" class="m-r-10"></Switch>
        <Label text="A list of shinies I do NOT have"></Label>
      </StackLayout>

      <Button class="btn btn-primary" text="Share" (tap)="confirmShare()"></Button>
      <Button class="btn btn-outline" text="Cancel" (tap)="cancelShare()"></Button>
    </StackLayout>
  </AbsoluteLayout>
</GridLayout>
