h1 {
  position: relative;
}
h1 button {
  position: absolute;
  right: 0.5em;
  text-indent: -9999px;
  white-space: nowrap;
  border: none;
  background-color: transparent;
  background-image: url(/app/images/share.png);
  background-repeat: no-repeat;
  background-size: 2.5em;
  height: 2.5em;
  width: 2.5em;
  outline: none;
}

.top-container {
  display: flex;
  margin: 0.5em 0.5em 0.25em 0.5em;
}
.progressbar {
  border: 1px solid gray;
  border-radius: 5px;
  width: 100%;
}
.progressbar-contents {
  height: 20px;
}
.top-container > span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 4.5em;
  text-align: center;
  font-size: 0.8em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0.25em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.card {
  flex: 1 0 25%;
  margin: 0.25em;
  border: 1px solid #DCE7DC;
  border-radius: 10px;
  cursor: pointer;
  height: 7em;
  position: relative;
  font-size: 0.8em;
}
.selected {
  background-color: #F5F5F5;
}
.card span {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}
.checkbox {
  position: absolute;
  top: 0.5em;
  right: 0.25em;
  width: 1.75em;
}
.sprite {
  position: absolute;
  top: 1.25em;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  width: 6em;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
}

.dialog {
  position: absolute;
  top: 10em;
  border-width: 3px 0;
  padding: 1em;
  border-color: black;
  width: 100%;
  background: white;
  box-sizing: border-box;
}
