<h1><span>GO Checklists</span></h1>

<ul>
    <li>
        <a [routerLink]="['/dex']">Dex</a>
        <ul>
            <li>Track your main Pokédex completion in Pokémon GO.</li>
        </ul>
    </li>
    <li>
        <a [routerLink]="['/shiny']">ShinyDex</a>
        <ul>
            <li>Track which of the available shinies you’ve caught.</li>
        </ul>
    </li>
    <li>
        <a [routerLink]="['/lucky']">LuckyDex</a>
        <ul>
            <li>Track how many lucky Pokémon you’ve acquired.</li>
        </ul>
    </li>
    <li>
        <a [routerLink]="['/unown']">UnownDex</a>
        <ul>
            <li>Track how many Unown you own.</li>
        </ul>
    </li>
    <li>
        <a [routerLink]="['/shadow']">ShadowDex</a>
        <ul>
            <li>Track how many shadow Pokémon you have.</li>
        </ul>
    </li>
</ul>